{
  "openapi": "3.0.1",
  "info": {
    "title": "Reliv REST API",
    "description": "Reliv REST API",
    "license": {
      "name": "MIT"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.reliv.ai/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v0/test-run-sets": {
      "post": {
        "description": "Test Run Set을 생성합니다.",
        "requestBody": {
          "description": "Config for Test Run Set",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTestRunSet"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "testRunSetId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v0/test-run-sets/{id}": {
      "get": {
        "description": "Test Run Set의 상태를 조회합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Test Run Set ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestRunSetStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateTestRunSet": {
        "required": ["env"],
        "type": "object",
        "properties": {
          "env": {
            "description": "Environment",
            "type": "string"
          }
        }
      },
      "TestRunSetStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["WAITING", "RUNNING", "SUCCESS", "FAIL"]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "progress": {
            "type": "object",
            "properties": {
              "counts": {
                "type": "object",
                "properties": {
                  "WAITING": {
                    "type": "integer"
                  },
                  "RUNNING": {
                    "type": "integer"
                  },
                  "SUCCESS": {
                    "type": "integer"
                  },
                  "FAIL": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
